:root,
.app.light {
  --bg-color: #96b3ff;
  --inverted-bg-color: #fff;
  --primary-color: #2864e1;
  --secondary-color: #cd66cd;
  --inverted-primary-color: #20232a;
  --inverted-secondary-color: #61dafb;
}
